extends layout

block content
  h1 Search Results
  .container(style='display: flex')
    a.button(href='/books/new/create') Create New Book
    form.search(action="/books", method="post" style='margin-left: 255px')
      input(name='search' type='text' value=search.value placeholder='Title, author, genre, year' style='width: 200px')
      input(type='submit' value='Search' style='margin-left: 5px')  
  .pagination
    h2.error No books found
  p
  a.button(href='/books') Back